/* @media (min-width: 1200px) {

}

@media (min-width: 992px) {
    
}

@media (min-width: 768px) {
    
}

@media (max-width: 480px) {
    .catalog {
        height: 300px;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }
}

@media (min-width: 320px) {
    
} */